.promo {
  padding-top: 50px;
  background-image: url(../img/bg.svg);
  background-color: fade(#ececec, 30%);
  background-position: 0 0;
  background-size: 840px 660px;
  background-repeat: repeat;
  color: #3a143a;
  padding-bottom: 30px;

}

.promo__wrapper {
  @media @lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.promo__heading {
  margin-bottom: 80px;
  width: 100%;

  @media @lg {
    margin-bottom: 50px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  padding-top: 70px;
  text-align: center;

  & svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.promo__text {
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;

  &::first-letter {
    padding-left: 40px;
  }

  @media @lg {
    font-size: 19px;
    line-height: 27px;
  }

  & a {
    color: currentColor;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.promo__sub-title {
  font-size: 27px;
  line-height: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 320px;

  @media @lg {
    text-align: left;
    font-size: 32px;
    line-height: 40px;
    margin-left: 20px;
    width: auto;
  }
}

.promo__wrap-list {
  @media @lg {
    width: 40%;
  }
}

.promo__list {
  margin-bottom: 70px;
}

.promo__item {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
}
