// распорка для флотов и для выпадающих верхних маргинов
.clearfix() {
  &::after {
    display: table;
    clear: both;

    content: "";
  }

  &::before {
    display: table;

    content: "";
  }
}

// враппер с фиксированной шириной
.container() {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  @media @sm {
    width: 540px;
  }

  @media @md {
    width: 720px;
  }

  @media @lg {
    width: 960px;
  }

  @media @xl {
    width: 1140px;
    min-width: 1140px;
  }
}
